{
    "apikey": "api key of the client",
    "apisecret": "api secret of the client",
    "client_name": "my_client_name",
    "username": "john-smith",
    "password": "the-passwoid",
    "apiserver": "https://api.taco.cloud",
    "verify_certs": true
}
